<html ng-app="fhaApp">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <title>Fallout hacker assistant</title>
    <link rel="stylesheet" href="assets/index.css" />
    <script type="text/javascript" src="index.js"></script>
  </head>
  <body ng-controller="FhaController">
    <span class="reset" ng-click="reset()">
      X
    </span>
    <ul class="errors" ng-show="logs.length > 0">
      <li ng-repeat="log in logs">
        {{log}}
      </li>
      <input type="button" value="OK" ng-click="logs = []">
    </ul>
    <h3>Know wrong passwords</h3>
    <table class="know-errors">
      <tr>
        <th>Password</th>
        <th>Likeness</th>
      </tr>
      <tr ng-repeat="error in fha.errors">
        <td>{{error.password}}</td>
        <td>{{error.likeness}}</td>
      </tr>
    </table>

    <div class="bottom-inputs">
      <input type="text" class="password-input" ng-model="password" ng-change="verify()" ng-class="{invalid: unlikely}">
      <input type="button" ng-click="addError()" value="Mark as wrong">
    </div>

    <div class="likeness-input" ng-show="likenessInput">
      Enter the likeness of this wrong password
      <input type="number" ng-model="likeness">
      <input type="button" ng-click="confirmInsertion()" value="OK">
    </div>
  </body>
</html>
